body {
  font-family: "Rubik", sans-serif;
  font-style: normal;
}
.head_start {
  background: #fff;
}

.img_logo {
  width: 264px;
  height: 28px;
  left: 126px;
}
.icons {
  list-style: none;
}
.list_icon {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #555555;
}
.list_logo {
  color: #2959ce;
  text-decoration: none;
}
.search {
  width: 275px;

  background-color: #fff;
  list-style: none;
}
.edit {
  width: 89px;
  background-color: #7296ec;
  color: #fff;
  list-style: none;
}
.navigator {
  width: 1200px;
}
.navbar {
  color: #7f7f7f;
  text-decoration: none;
  font-family: "Rubik";
  font: weight 500px;
  list-style: none;
  text-decoration: none;
}
.reklama {
  width: 1200px;
  height: 128px;
  object-fit: contain;
}
.sectwo {
  display: flex;
  width: 1200px;
}
.list_fly {
  display: flex;
  align-items: stretch;
}
.list_fly_brtis {
  justify-content: ;
  width: 393px;
  height: 382px;
  background: #f6f6f6;
}
.bolt_word {
  width: 358px;
  font-family: "Rubik";
  font-weight: 500;
}
.list_fly_brtis {
  list-style: none;
  color: #000000;
  list-style: none;
}
.small_word {
  width: 346px;
  height: 44px;

  font-weight: 400;
  color: #4a4b4c;
}
.foto {
  width: 359px;
  height: 165px;
  object-fit: contain;
}
.rek {
  width: 1050px;
  height: 100px;
}
.news {
  height: 52px;
  width: 404px;

  font-weight: 500;
  font-size: 20px;
  font-weight: 500;
  color: #000000;
}

.lamp {
  width: 149px;
  height: 50px;
  background: #f78b3b;
  color: #fff;
  list-style: none;
}

.world {
  width: 83px;
  height: 28px;

  font-weight: 500;
  font-size: 24px;
  line-height: 28px;

  color: #000000;
}
.info-two-section {
  width: 1200px;
  color: #000000;
}
.sec_list {
  list-style: none;
}
.sec_itms {
  width: 797px;
  /* height: 205px; */
  background: #f6f6f6;
}
.list_itms {
  display: flex;
  align-items: center;
}

.imgtwo {
  width: 210px;
  height: 165px;
}
.kitays_title {
  width: 535px;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  color: #000000;
}
.kitayssmalltitls {
  width: 535px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #4a4b4c;
}
.ikon-raketa {
  display: flex;
  align-items: center;
}
.small_titls_logo {
  display: flex;
  align-items: center;
}

.main-futere {
  width: 393px;
  height: 502px;
  background: #f6f6f6;
}
.small-main-list-art {
  list-style: none;
  text-decoration: none;
}
.smal {
  width: 311px;
  height: 48px;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
  color: #000000;
}
.hreft {
  width: 393px;
  height: 338px;
  left: 927px;
  top: 1948px;
}
.mainer {
  display: flex;
  text-align: justify;
  align-items: stretch;
}
.ale {
  display: flex;
  justify-content: center;
  width: 796px;
  height: 53px;
  left: 120px;

  background: #eaeaea;
}
.yes {
  width: 110px;
  height: 19px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
  color: #000000;
}
